<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans><!-- using Setter Injection -->

	<bean id="mb" class="org.jsp.app.Mobile">
		<property name="imeiNum" value="rn34211"></property>
		<property name="location" value="hyd"></property>
	</bean>

	<bean id="s1" class="org.jsp.app.Student" autowire="byName">

		<property name="sName" value="nikhil"></property>
		<property name="sAddress" value="nizamabad"></property>


	</bean>
</beans>